[Desktop Entry]
Version=1.0
Type=Application
Name=Setup Hugo Blog
Comment=Install Hugo automatically for the blog
Exec=bash -c "cd '$(dirname %k)/../..' && ./setup.sh && echo '' && echo 'Press Enter to close...' && read"
Icon=applications-system
Terminal=true
Path=
Name[en]=Setup Hugo Blog


